*.class
.pydevproject
.cache
.cache-tests
node_modules
assets/libs
assets/tmp
report
dist
.tmp
.sass-cache
bower_components
.project
.settings
.classpath
.bowerrc
.bowerrc.swp
target/
eclim-target/
bin/
.settings/
.cache-main
.ensime
.ensime_lucene
.ensime_cache
npm-debug.log
.vscode
.idea