%form-config {
  padding: space(4px, base);
  vertical-align: middle;
  border: 1px solid color(gray, light);
  border-radius: 2px;
  background-color: color(gray, extra-light);
  color: color(gray);
  font-size: font-size(medium);
  line-height: rem(20px);
}