@charset 'UTF-8';

body {
  position: relative;
  background-color: color(gray, lighter);
  color: color(gray);
  line-height: 1.2;
  font-size: font-size(medium);
  @include font(base);
}

h2 {
  @include font(bold);
}
