@charset 'UTF-8';

/// Configurações do grid utilizado
/// @group    Configurações


$totalColumns : 16 !default;
$columnWidth  : 60px !default;
$gutter       : 20px !default;
$gridWidth    : $totalColumns * ($columnWidth + $gutter) !default;

$flex-gutter: percentage($gutter/$gridWidth);

/// Retorna a largura calculada de acordo com a quantidade de colunas desejadas
///
/// @group   Tools
/// @require {variable} $grid
///
/// @param   {number} $col - Quantidade de colunas
/// @param   {number} $col - Quantidade de espaços entre colunas
///
/// @example scss - Uso
///   .element {
///     width: column(6);
///   }
///
/// @example scss - Compilado
///   .element {
///     width: 46.80851%;
///     margin-left: 2.12766%;
///   }

@mixin column($col, $gap, $first: false) {
  width: percentage((($columnWidth * $col) + ($gutter * $gap)) / $gridWidth);
  @if $first == false {
    margin-left: $flex-gutter;
  }
}
